header {
	width:100%;
	}
nav {
	display: flex;
	background-color:white;
	justify-content: flex-start;
	width: 100%;
	margin: 0px;
	border-color:black;
	box-shadow: 0 8px 16px rgba(.5,.5,.5,.8);
	padding:0px 15px;
	}
p {
	margin: 50px;
	}
.nav_list {
	margin-left:auto;
	display: flex;
	gap: 20px;
	list-style-type:none;
	margin-right: 30px;;
}
.nav_list a{
	text-decoration:none;
	font-size:20px;
	font-family: 'Roboto', 'Helvetica Neue', Arial, sans-serif;
	color:#333;
	font-weight:bold;

	
}

.nav_logo {
	/*overflow: hidden;*/	
	height: 50px;
	/*width: 100px;
	background-color:white;
	padding-right:700px;*/
	}

body {
	  background-image: url('./assets/Fruits.jpg'); 
	  background-size: 102%; 
	  background-repeat: no-repeat; 
	  background-position: top; 
}

body {
height: 100%;
width: 100%;
		overflow-x:hidden;

		margin: 0;
		    display: flex;
			flex-direction: column;
			    justify-content: center; /* Horizontal center */
				    align-items: center;     /* Vertical center */
					    min-height: 100vh;

}

.tail {
		    background-color: #333;
				    text-align: center;
					    padding: 15px;
						width:100%;
						height:5px;
						display:flex;
						flex-direction:column;
}
.tail ul {
	list-style:none;
	list-style-type:none;
	}
	footer{
	
background-color:#333;width:100%;display:flex;justify-content:center;color:white;
		}
footer ul {flex-direction:row;display:flex;list-style-type:none;gap:20px;
	}


.essay_proposal{
	display:flex;
	flex-wrap:wrap;
	justify-content:center;
	gap:10px;
	padding: 200px;
	padding-top:50px;
	font-size: 20px;
	font-family: 'Times New Roman', 'Helvetica Neue', Arial, sans-serif;
	letter-spacing: 1px;
	line-height: 1.8;
	max-width: 1050px;
	
	}
.essay_proposal h1 {
	text-align:center;
	}

.essay_title{
	margin: 50px;
	flex-basis:100%;
	}
.vsplit {
	display: flex;
	padding: 5px;
	text-align: left;
	}

.vsplit_graph {
	display: flex;
	justify-content:center;
	text-align: left;
	
	}
.vsplit_graph table, th,td{
	border:1px solid black;
	background-color:white;
	}
.vsplit_graph table{
	background-color:black;
	}
.imgfigure{
	font-family: /*'Roboto', 'Helvetica Neue', Arial,*/ sans-serif;
	font-style: italic;	
	font-size: 0.85rem;
	color: #555;

	}
.imgfigure a{
	text-decoration: none;
	}
.citation:target{
	background-color: yellow;
	border-radius: 5px;
	}
